*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 1.5rem;
    justify-content: center;
}

h2 {
    text-align: left;
    padding-bottom: 20px;
}

.card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 180ms ease-out;
    border: 0;
    padding-bottom: 20px;
}

.hotel-namemain h5 {
    padding-top: 20px;
}

.card-img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card-title {
    padding: 1rem;
}

.card-text {
    padding: 0 1rem;
}

.card:hover {
    transform: scale(1.06);
    color: rgb(34, 85, 195);
}