*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    min-height: 10rem;
    min-width: 20rem;
    padding: 20px;

}
.item img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}
.inner-carousel{
    display: flex;
    background: lightblue;
}

.carousel{
    cursor:grab;
    overflow: hidden;
    margin:  0 5%;
    background: rgb(230, 173, 173);
}