

/*
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    margin: 6rem;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem, 22rem));
    gap: 2rem;
    justify-content: center;

}
.card__image{
    overflow: hidden;
    box-shadow: 0 1px 1px red;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    height: 200px;
    width: 100%;
    object-fit: cover;
}*/

.new-title{
    margin-top: 70px;
    margin-bottom: 30px;
    padding-left: 80px;
    color: #005fa1;
}
.line-hr{
    border: solid 2px #0096ff;
    width: 100px;

}

#row-one{
    padding: 0px 85px 0 85px;
    margin: 0 10px;
    justify-content: center;

}

.card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 10px;
    transition: 0.5s;
    animation: ease-in;
    padding: 0;
    margin: 35px 0px 35px 30px;
    justify-content: center;
}
.card-body{
    margin: auto;
    padding-top: 0;

}
.title-content{
    padding-top: 0;
    padding-bottom: 0;

}
.card-container:hover{
    color: #005fa1;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px -5px;
}
.image-container img{
    height: 200px;

}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}
#para{
    display: inline;
    width: 20px;
    padding: 5px;
    color: #005fa1;
}
hr{
    padding-top: 0;
    margin-top: 0;
}
h6{
    font-family: "Franklin Gothic Demi";
    color: red;
}
.material-icons{
    color: #005fa1;
}
h3,p{
    margin: 0;
    padding: 0;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
}
.btn button:hover{
    background-color: rgba(37, 157, 255, 0.28);
    border-radius: 2px;
}
a{
    text-transform: uppercase;
    color: #005fa1;
}

.title-drope{

    width: auto;
    height: 350px;
    overflow: hidden;
    padding: 10px 80px 0 80px;
    margin-top: 20px;
}
.border-bttom{
    border-bottom: #005fa1 solid 4px;
    width: 10%;
    text-align: justify;
}
.contain-title{
    margin-top: 30px;
    color: #005fa1;

}
.image-edit{
    border-radius: 10px;
}
.text-center{
    text-align: left;
    font-family:"Ah One";
    text-transform: uppercase;
    padding-top: 10px;
    color: #005fa1;

}
.card-hover:hover{
    cursor: pointer;
}
.card-hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.card-hover:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}


/*viewcase*/
#viewcase{

    padding: 10px 80px;
}
.cnt-h4{
    font-size: 30px;
    font-family: "Ah One";
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    color: rgba(91, 91, 91, 0.88);
}
.ctn-h3{
    color:#005fa1;
    font-family:Bahnschrift;
    padding: 20px 0;
}
.ctn-p{
    font-size: 16px;
    padding:  12px 0;
    color: #525252;
    text-align: left;
}
.ctn-image{
    border-radius: 10px;
}





/*h2{
    text-align: center;
}

.City-choosing{
    padding-left: 80px;
    padding-right: 80px;
}
.city-card{
    float: left;
    border: 1px solid red;
    width: 20%;
}*/
